
/* menor o igual a 576px */
 @media screen and (max-width: 576px){
    
    .contenedor-grid{
        -webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
    column-count: 1 !important; 
     -webkit-column-width: 100% !important; 
    -moz-column-width: 100% !important;
    column-width: 100% !important; 
    margin: 20px;
  
   
   gap: 20px;
    }

    .image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 500ms ease-out;
     
     
     }
     
     .label-text{
        color: aliceblue;
        font-size: larger;
        font-weight: 600;
     
     }
     .figurecont{
         position: relative;
         margin: 20px;
         box-shadow: 0px 15px 25px;
         border-radius: 15px;
        
     }
     
     .closeBtn{
         
         position: absolute;
         top:10%;
         left:90%;
         padding: 8px;
         transition: all 500ms ease-out;
         transform: translate(-50%, -50%);
         width: fit-content;
         height: fit-content;
         background-color: rgba(233, 27, 27, 0.545);
         color: aliceblue;
         border: 2px solid rgb(197, 198, 199);
     }
     .closeBtn:hover{
         background-color: rgba(233, 27, 27, 0.854);
     }
     
     
     .contenedor-texto{
        width:max-content;
       
        position: absolute;
        top:90%;
        left:30%;
        
        transition: all 500ms ease-out;
        transform: translate(-50%, -50%);
       
     }
     
     /* .figurecont:hover >  .contenedor-texto{
         opacity: 1;
         visibility: visible;
     }
     .figurecont:hover >  .closeBtn{
         opacity: 1;
         visibility: visible;
     } */

} 

/* mayor o igual a 576 */

@media screen and (min-width: 576px){
   
    .contenedor-grid{
        -webkit-column-count: 1 !important;
        -moz-column-count: 1 !important;
        column-count: 1 !important; 
         -webkit-column-width: 100% !important; 
        -moz-column-width: 100% !important;
        column-width: 100% !important; 
        margin: 20px;
      
       
       gap: 20px;
    }

    .image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 500ms ease-out;
     
     
     }
     
     .label-text{
        color: aliceblue;
        font-size: large;
        font-weight: 400;
     
     }
     .figurecont{
         position: relative;
         
         box-shadow: 0px 15px 25px;
         border-radius: 15px;
         margin: 20px;
        
     }
     
     .closeBtn{
        
         position: absolute;
         top:10%;
         left:90%;
         padding: 8px;
         transition: all 500ms ease-out;
         transform: translate(-50%, -50%);
         width: fit-content;
         height: fit-content;
         background-color: rgba(233, 27, 27, 0.545);
         color: aliceblue;
         border: 2px solid rgb(197, 198, 199);
     }
     .closeBtn:hover{
         background-color: rgba(233, 27, 27, 0.854);
     }
     
     
     .contenedor-texto{
        width:max-content;
        
        position: absolute;
        top:90%;
        left:50%;
        
        transition: all 500ms ease-out;
        transform: translate(-50%, -50%);
        
     }
     
    /*  .figurecont:hover >  .contenedor-texto{
         opacity: 1;
         visibility: visible;
     }
     .figurecont:hover >  .closeBtn{
         opacity: 1;
         visibility: visible;
     } */

} 

/* mayor o igual a 768 */
 @media screen and (min-width: 768px){

    .contenedor-grid{
        -webkit-column-count: 2!important;
        -moz-column-count: 2 !important;
        column-count: 2 !important; 
         -webkit-column-width: 50% !important; 
        -moz-column-width: 50% !important;
        column-width: 50% !important; 
        margin: 20px;
      
       
       gap: 20px;
    }

    .image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 500ms ease-out;
     
     
     }
     
     .label-text{
        color: aliceblue;
        font-size: large;
        font-weight: 400;
     
     }
     .figurecont{
         position: relative;
         
         box-shadow: 0px 15px 25px;
         border-radius: 15px;
        
     }
     
     .closeBtn{
         
         position: absolute;
         top:10%;
         left:90%;
         padding: 8px;
         transition: all 500ms ease-out;
         transform: translate(-50%, -50%);
         width: fit-content;
         height: fit-content;
         background-color: rgba(28, 29, 29, 0.545);
         color: aliceblue;
         border: 2px solid rgb(197, 198, 199);
     }
     .closeBtn:hover{
         background-color: rgba(233, 27, 27, 0.854);
     }
     
     
     .contenedor-texto{
        width:max-content;
        opacity: 0;
        position: absolute;
        top:90%;
        left:50%;
        
        transition: all 500ms ease-out;
        transform: translate(-50%, -50%);
        visibility: hidden;
     }
     
     .figurecont:hover >  .contenedor-texto{
         opacity: 1;
         visibility: visible;
     }
    /*  .figurecont:hover >  .closeBtn{
         opacity: 1;
         visibility: visible;
     } */

} 

/* tamaño promedio pantalla pc */

@media screen and (min-width: 992px){
    
    .contenedor-grid{
        -webkit-column-count: 3 !important;
        -moz-column-count: 3 !important;
        column-count: 3 !important; 
         -webkit-column-width: 33% !important; 
        -moz-column-width: 33% !important;
        column-width: 33% !important; 
        margin:10px;
      
       
       gap: 10px;
    
  
}

.image{
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: all 500ms ease-out;


}

.label-text{
   color: aliceblue;
   font-size: large;
   font-weight:400;


}
.figurecont{
    position: relative;
    
    box-shadow: 0px 15px 25px;
    border-radius: 15px;
   
}

.closeBtn{
    opacity: 0;
    position: absolute;
    top:10%;
    left:90%;
    padding: 8px;
    transition: all 500ms ease-out;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    background-color: rgba(28, 29, 29, 0.545);
    color: aliceblue;
    border: 2px solid rgb(197, 198, 199);
}
.closeBtn:hover{
    background-color: rgba(233, 27, 27, 0.854);
}


.contenedor-texto{
    width:max-content;
    opacity: 0;
    position: absolute;
    top:90%;
    left:50%;
    
    transition: all 500ms ease-out;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.figurecont:hover >  .contenedor-texto{
    opacity: 1;
    visibility: visible;
}
.figurecont:hover >  .closeBtn{
    opacity: 1;
    visibility: visible;
}
} 
/* mayor o igual a 1200 */
@media screen and (min-width: 1200px){
    
    .contenedor-grid{
   /*  display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    padding: 50px; */
    
    -webkit-column-count: 4 !important;
    -moz-column-count: 4 !important;
    column-count: 4 !important; 
     -webkit-column-width: 22% !important; 
    -moz-column-width: 22% !important;
    column-width: 22% !important; 
    margin: 20px;
  
   
   gap: 20px;
}

.image{
  
  width: 100%;
   
   transition: all 500ms ease-out;


}

.label-text{
   color: aliceblue;
   font-size: large;
   font-weight:400;


}
.figurecont{
    position: relative;
    
   
    margin: 30px 5px;
    box-shadow: 0px 10px 10px;
    border-radius: 15px;
   
   
}

 .closeBtn{
    opacity: 0;
    position: absolute;
    top:10%;
    left:90%;
    padding: 8px;
    transition: all 500ms ease-out;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    background-color: rgba(28, 29, 29, 0.545);
    color: aliceblue;
    border: 2px solid rgb(197, 198, 199);
}
.closeBtn:hover{
    background-color: rgba(233, 27, 27, 0.854);
}


.contenedor-texto{
    width:max-content;
    opacity: 0;
    position: absolute;
    top:90%;
    left:50%;
    
    transition: all 500ms ease-out;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.figurecont:hover >  .contenedor-texto{
    opacity: 1;
    visibility: visible;
}
.figurecont:hover >  .closeBtn{
    opacity: 1;
    visibility: visible;
} 
}

